.topnav {
    background-color:white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:black;
  text-align: center;
  padding: 20px 30px;
   font-family:sans-serif;
  font-size: 20px;
  margin-right:20px;
 margin-left:20px;
  margin-top:10px;
text-decoration:none;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#FF4500;
  color:white;
}



/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
 }
.bgimg
{background:url("https://images.unsplash.com/photo-1517964603305-11c0f6f66012?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efc826c1fce42a92b68ad24fe4f0d592&auto=format&fit=crop&w=500&q=60");
 background-size:100% 100%;
 background-repeat:no repeat;
 height:85%;
 margin-top:.5%;}
p{ 
   position: absolute; 
   top: 30%; 
   left:5%; 
   width: 100%;
   color:white;
   font-size:100px;
   font-family:impact;
  }