/* Add a black background color to the top navigation */
.topnav {
    background-color:white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  font-size: 140%;
    font-family:verdana;
 }

.topnav a:hover {
  background-color:#FF4500;
  color: white;
  padding:1.5% 1.5%;
}

.topnav-right a
 {
  float: right;
 }

.bgimg {
    width:100%;
    height:90%;
    background-image: url('https://images.pexels.com/photos/841125/pexels-photo-841125.jpeg?auto=compress&cs=tinysrgb&h=350');
  
    background-repeat: no-repeat;
    background-size:100%;
    
    }
h1{
color:#FF4500}


p{ 
   position: absolute; 
   top:10%; 
   left:11%;
    color:white;
   font-size:9vw;
   font-family:impact;
   text-align:center;
  }

p6
{font-size:19px;
 font-family:verdana;
  position:absolute;
 top:75%;
  left:35%;
color:white;
text-align:center;}

.bgimg button1
 {
background-color:#FF4500;
 font-size:15px;
padding:10px 80px;
border:2px solid #FF4500;
 color:white;
position:absolute;
 top:84%;
left:38%;}

.bgimg button1:hover {
    background-color:white;
    color:#FF4500;
   }

.article
{ width:50%;
  height:75%;
   background-image:url('https://images.pexels.com/photos/17840/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350');
   background-size: 100%;
   repeat:no repeat;}

.text{
 text-align:center;
 float:right;
 position:absolute;
  left:52%;
  top:110%;
   font-family:sans-serif;
   font-size:23px;
   color:#696969;
   width:48%;
}
.text button2
 { 
background-color:white;
 font-size:15px;
padding:10px 90px;
border:2px solid #FF4500;
 color:#FF4500;
position:absolute;
 top:120%;
 left:30%;
text-align:center;}

.text button2:hover {
    background-color:#FF4500;
    color:white;}

.nutrition
   {
    width: 50%;
    height:75%;
    background-image: url("https://images.pexels.com/photos/19936/breakfast-orange-lemon-oranges.jpg?auto=compress&cs=tinysrgb&h=350");
    background-size:100% 100%;
    float:right;
    }


.text2
{position:absolute;
 top:180%;
width:49%;
text-align:center;
color:#696969;
font-size:24px;
font-family:sans-serif;
margin-left:0%;
}

.text2 button3
 {
background-color:white;
 font-size:15px;
padding:10px 80px;
border:2px solid #FF4500;
 color:#FF4500;
position:absolute;
 top:100%;
 left:25%;}

.text2 button3:hover {
    background-color:#FF4500;
    color:white;}

 
.text3
{position:absolute;
top:260%;
left:35%;
 width:80%;
text-align:center;
color:#696969;
font-size:23px;
font-family:sans-serif;
}
.text3 button4
 {
background-color:white;
 font-size:15px;
padding:10px 80px;
border:2px solid #FF4500;
 color:#FF4500;
position:absolute;
left:37%;
top:110%;}

.text3 button4:hover {
    background-color:#FF4500;
    color:white;}

.coaching{
    width: 49.5%;
    height:75%;
    background-image: url("https://images.pexels.com/photos/116077/pexels-photo-116077.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-size: 100% 100%;
    position:absolute;
    top:245%;
  
    }
      
.text4
{float:left;
position:absolute;
top:330%;
right:50%;
width:50%;
text-align:center;
color:#696969;
font-size:23px;
font-family:sans-serif;

}

.text4 button5
 {
background-color:white;
 font-size:15px;
padding:10px 80px;
border:2px solid #FF4500;
 color:#FF4500;
position:absolute;
 top:100%;
right:30%;}

.text4 button5:hover {
    background-color:#FF4500;
    color:white;}

.workoutplans{
    width:50%;
    height:75%;
    background-image: url("https://images.pexels.com/photos/116079/pexels-photo-116079.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-size: 100% 100%;
   position:absolute;
   top:320%;
   right:0%;
    }

.bigimg2
{ width:100%;
  height:84%;
   background-image:url("https://images.pexels.com/photos/841131/pexels-photo-841131.jpeg?auto=compress&cs=tinysrgb&h=350");
   background-size:100% 100%;
 position:absolute;
  top:396%;}



p7{ color:white;
   position:absolute;
       top:35%;
       left:20%;
        font-size:780%;
        font-family:impact;}
p8{
color:white;
font-size:280%;
 position:absolute;
 top:62%;
 left:20%;
font-family:sans-serif;
}

.bigimg2 button6
 {font-size:15px;
padding:10px 80px;
border:2px solid white;
 color:white;
position:absolute;
 top:75%;
left:40%;}

.bigimg2 button6:hover {
    background-color:#FF4500;
    color:white;}

h2
{text-align:center;
 position:absolute;
 left:12%;
 top:23%;
 
 color:white;
 font-family:sans-serif;
 font-size:42px;
}

p9
{position:absolute;
 top:60%;
 left:8%;
 color:	#ccccb3;
 text-align:center;
 font-family:sans-serif;
 font-size:15px;
}
 .guide 
{position:absolute;
 top:481%;
height:107%;
width:45.333%;
background-color:#e62e00;}

.guide button7
 {
background-color:#e62e00;
 font-size:20px;
padding:20px 80px;
border:2px solid white;
font-family:sans-serif;
 color:white;
position:absolute;
left:25%;
top:75%;}

.guide button7:hover {
    background-color:white;
    color:#e62e00;}

.transformation
{position:absolute;
 top:481%;
 left:45%;
 background-color:#e6e6e6;
 width:58%;
height:107%;
}

 h3
{position:absolute;
 top:10%;
 left:7%;
 font-size:45px;
 font-family:sans-sarif;
 color:#808080;
}
 h4
{position:absolute;
 top:13%;
 left:7%;
 font-size:60px;
 font-family:sans-serif;
 color:#262626;
}
h6
{position:absolute;
 top:45%;
 left:5%;
 font-size:25px;
 font-family:sans-serif;
 color:#a6a6a6;
 }
span{color:#e62e00;}
p10{position:absolute;
 top:60%;
 left:5%;
 font-size:15px;
 font-family:sans-serif;
 color:#a6a6a6;
}
h7
{position:absolute;
 top:54%;
  right:27%;
 font-size:25px;
 font-family:sans-serif;
 color:#a6a6a6;
 }
p11
{position:absolute;
 top:60%;
 right:60px;
 font-size:15px;
 font-family:sans-serif;
 color:#a6a6a6;
}
h8{position:absolute;
 top:73%;
 left:5%;
 font-size:25px;
 font-family:sans-serif;
 color:#a6a6a6;
 }
p12
{position:absolute;
 top:80%;
 left:5%;
 font-size:15px;
 font-family:sans-serif;
 color:#a6a6a6;
}


h9{position:absolute;
 top:73%;
 right:21%;
 font-size:25px;
 font-family:sans-serif;
 color:#a6a6a6;
 }
p13
{position:absolute;
 top:80%;
 right:60px;
 font-size:15px;
 font-family:sans-serif;
 color:#a6a6a6;
}

.bgimg3
{width:100%;
    height:75%;
    background-image: url("https://images.pexels.com/photos/416778/pexels-photo-416778.jpeg?auto=compress&cs=tinysrgb&h=350");
     background-size:100% 100%;
    position:absolute;
   top:588%;
}

h10
{position:absolute;
 top:38%;
 left:27%;
 color:white;
 font-size:350%;
 font-family:sans-serif;
 text-align:center;
}
p14{position:absolute;
 top:65%;
 left:30%;
 color:white;
 font-size:20px;
 font-family:sans-serif;
 text-align:center;}

.bgimg3 button8
 {
 font-size:20px;
padding:20px 60px;
border:2px solid #e62e00 ;
font-family:sans-serif;
 color:white;
position:absolute;
left:42%;
top:80%;}

.bgimg3 button8:hover {
    background-color:white;
    color:#e62e00;}

.shape{
width:48%;
    height:99%;
    background-image: url("https://images.unsplash.com/photo-1517438984742-1262db08379e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=55bd12aee933e8d87a52e749b6dfa701&auto=format&fit=crop&w=500&q=60");
     background-size:100% 100%;
    position:absolute;
   top:664%;}

h11
{position:absolute;
top:30%;
 left:25%;
 font-family:sans-serif;
 font-size:20px;
 text-align:center;
 color:#262626;}

h12
{position:absolute;
 top:40%;
 left:25%;
 font-family:sans-serif;
 font-size:40px;
 text-align:center;
 color:#262626;}

p15
{position:absolute;
 top:60%;
left:25%;
 font-family:sans-serif;
 font-size:15px;
 text-align:center;
 color:#262626;}

.shape button9
 {
 font-size:20px;
padding:15px 40px;
border:2px solid #e62e00 ;
font-family:sans-serif;
 color:#e62e00;
position:absolute;
left:40px;
top:100px;
}

.shape button9:hover {
    background-color:#e62e00;
    color:white;}

.subscribe
{background-color:#e62e00;
 height:100%;
 width:51%;
 position:absolute;
 right:5px;
 top:663%;
 }
h13
{position:absolute;
 top:500%;
 left:20px;
 color:white;
 font-family:sans-serif;
 font-size:40px;}
h14
{position:absolute;
 top:10%;
 left:20px;
 color:white;
 font-family:impact;
 font-size:55px;}

.subscribe ul
{position:absolute;
 top:20%;
 left:10px;
 color:white;
 font-family:sans-serif;
 font-size:30px;}
#name
{padding:15px 35px;
 background-color:#e62e00;
 position:absolute;
 top:40%;
 right:5%;
color:white;
border:2px solid white;
 }

#mail
{padding:15px 35px;
background-color:#e62e00;
border:2px solid white;
 position:absolute;
 top:47%;
 right:5%;
color:white;}


.subscribe button10
{padding:15px 95px;
background-color:white;
 color:#e62e00;
 position:absolute;
 top:55%;
 right:5%;}

.subscribe button10:hover
{ background-color:#e62e00;
 color:white;
 border:2px solid white;}
 



@media screen and (min-width:1500px){
p{ margin-top:8%;
  margin-left:3%;
  font-size:1000%;}

.bgimg button1{
  margin-right:6%;}

.text{  font-size:30px;}

 .text button2
 { margin-top:300px;
  margin-left:120px;
  padding:20px 130px;}

.text2
{font-size:30px;
 margin-left:0px;
 float:none;}

.text2 button3
{margin-left:27px;
 padding:20px 130px;}

.text3 
{font-size:30px;} 
}

@media screen and (max-width:1050px){
 
p {font-size:100px;
 margin-top:500px;} 

.bgimg button1{
 margin-left:15px; 
}

.text button2 {
 margin-top:80px;
  margin-left:10px;}

.text4 button5
{margin-top:30px;
 }
p7{float:none; 
font-size:110px;
 margin-top:90px;
margin-right:40px;}

p8{font-size:35px;
 margin-top:100px;}

.bigimg2 button6
{margin-top:70px;}
}


@media screen and (max-width:770px){
 .topnav-right{
margin-right:45px;}

.bgimg {
  max-width:100%;
  height:600px;
   margin-top:10%;
    }

p{ 
 margin-top:25%;
margin-right:30px;
 font-size:80px;}

p6{position:absolute;
  top:50%;
left:15%;}
  
.bgimg button1{
  position:absolute;
   right:15%;}

.article{
width:100%;
height:600px;
 }

.text{
width:100%;
 float:none;
position:absolute;
left:2%;
top:140%;}

.text button2{
position:absolute;
top:300%;
left:100px;}

.nutrition{
width:100%;
height:600px;
margin-top:70%;
}

.text2{
width:100%;
position:absolute;
top:250%;}

.coaching{
width:100%;
height:600px;
margin-top:60%;
}

.text3
{float:none;
position:absolute;
top:350%;
left:10%;}


.workoutplans{
width:100%;
height:600px;
margin-top:100%;}

.text4{
float:none;
width:100%;
positon:absolute;
top:460%;
left:0%;}

.bigimg2{
width:100%;
height:600px;
position:absolute;
top:510%;}


.guide{
position:absolute;
top:570%;
width:100%;
height:600px;}

.transformation{
position:absolute;
top:630%;
left:0%;
width:100%;
height:600px;}

.bgimg3{
position:absolute;
top:690%;
width:100%;
height:600px;}

.shape{
position:absolute;
top:750%;
width:100%;
height:600px;}

.subscribe{
position:absolute;
top:810%;
width:100%;
height:600px;}
}

@media screen and (max-width:360px){

.bgimg{
     background-size:100% 100%;
     width:100%;
     height:400px;
 }
p{font-size:10px;}
}